# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# OS specific
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/

# Node (in case you add it later)
node_modules/
.npm/

# Local server logs
*.log
